<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demo Project1</title>
    </head>
    <body>
        <h1>스프링 부트</h1>

        <h2>src/main/resources의 templates or static에 
            index.html 존재하면 메인 페이지 역할을 함
        </h2>

        <h3>스프링 부트 프로젝트 실행 방법(서버 배포 방법)</h3>

        <pre>
            src/main/java 하위 패키지에 
            xxxApplication.java 파일이 프로젝트 생성시 자동 생성됨 
            (xxx=프로젝트 이름)

            해당 클래스에는 main 메서드 존재 
            -> 실행 -> 내장된 Tomcat 서버가 배포 시작 

            (* 브라우저가 자동으로 실행되지 않기 때문에 각자 브라우저 실행해서 주소 입력)
        </pre>

        <hr>

        <h3>프로젝트 구조</h3>
        <ul>
            <li>src/main/java : 자바 소스 코드를 모아두는 폴더</li>

            <li>src/main/resources : 자바에서 사용할 자원, 설정 파일 모아두는 폴더
                <ul>
                    <li>templates : Java템플릿(응답화면)을 모아두는 폴더(.html확장자 : thymeleaf)</li>

                    <li>static : templates에 적용된 정적 자원을 모아두는 폴더 (JS, CSS, 이미지)</li>

                    <li>application.properties : 
                        Spring Boot 프로젝트 관련된 전반적 설정을 정의하는 파일(중요)
                    </li>
                </ul>

            </li>

            <li>Project and External Dependencies : build.gradle에 명시된 라이브러리 모음</li>
            <li>
                build.gradle : gradle(빌드도구) 프로젝트에 필요한 라이브러리, 배포, 빌드 관련된 설정을 작성하는 파일                
            </li>
        </ul>

        <hr><hr>

        <ol>
            <li>
                <a href="/test">요청 + forward 처리</a>
            </li>

            <li>
                <a href="/example">정적 자원(js, css, image) 연결</a>
            </li>

            <li>
                <a href="/param/main">서버로 파라미터 제출하기</a>
            </li>

        </ol>

        



        
    </body>
</html>