<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper 인터페이스 경로 작성 (필수)">

  <!-- 해당 태그는 무조건 삭제!! -->
<!--<cache-ref namespace=""/>-->
<!-- 수행 하려는 SQL 구문 태그 작성-->
<!-- <select id="" parameterType="" resultType="">SQL 작성</select>
	 <insert id="" parameterType="">SQL 작성</insert>
	 <update id="" parameterType="">SQL 작성</update>
	 <delete id="" parameterType="">SQL 작성</update>  -->
</mapper>
