<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>타임리프 예제 3</title>
    </head>

    <body>
        <h1>타임리프 예제3</h1>
        
        <h3>링크(URL) 조합에 사용되는 Spring EL ( @{} )</h3>

        <ul>
            <li>
                <a href="/board">게시판(/board)</a>
            </li>

            <li>
                <a href="/board?key=제목&query=검색어">게시판 검색</a>
            </li>

            <li>
                <!-- ** 타임 리프를 이용한 쿼리스트링 작성법 ** -->
                <a th:href="@{/board(key=${key},query=${query})}">@{} 사용</a>
                <!-- /board?key=제목&query=검색어 -->
            </li>

            <li>
                PathVariable : 주소 중 일부분을 변수 값 처럼 사용 

                <ul>
                    <li>
                        <a href="/example/ex3/1">/example/ex3/1</a>
                    </li>
                    <li>
                        <a href="/example/ex3/2">/example/ex3/2</a>
                    </li>
                    <li>
                        <a href="/example/ex3/3">/example/ex3/3</a>
                    </li>

                    <li>
                        <a th:href="@{/example/ex3/{number}(number=${boardNo})}">
                            @{/example/ex3/{number}(number=${boardNo})}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>


        <th:block th:replace="~{fragments/footer}"></th:block>

    </body>
</html>